.container{
  padding-top: 100px;
  padding-bottom: 80px;
  padding-right: 40px;
  padding-left: 40px;
}

.button{
  background-color:#429DB5;
  text-transform: lowercase;
}

.graphic{
  padding-top:200px;
  padding-bottom:50px;
}


.navbar-brand{
  font-weight: 200;
}

.nav-item{
  text-transform: lowercase;
  font-size: 14px;
}

.IWBI{
  color:#347D90;
  letter-spacing: 1px;
}

.icon{
  padding:10px;
}

.card{
  line-height: 0.2;
}

.card-img-top{
  padding: 8px;
}





